{% extends 'base.html' %}
{% load bootstrap4 %}
  {% block content %}
   <div class="container-fluid padding">
      <div class="row padding">
          <div class="col-md-12 col-lg-6">
              <center><h3>Contact With Us</h3></center>

              <p>
                  {% for qs in query %}

                  {{ qs.title }}<br/>
                  {{ qs.content }}<br/>
                  {{ qs.phone }}<br/>
                  {{ qs.email }}<br/>

                     {% endfor %}
              </p>
              <br/>

          </div>

          <div class="col-lg-6">
     <h3>Contact Form</h3>

      <form method='POST' action=''>{% csrf_token %}

           {% bootstrap_form form %}
           {% buttons %}
          <input type="submit" class="btn btn-success" value="SEND"/>
          {% endbuttons %}
      </form>

          </div>

      </div>
  </div>


{% endblock %}