@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 700");

html , body {
    height: 100%;
    width: 100%;
    font-family: poppins, sans-serif;
    color: #222;

}

#carouselExampleInterval{
    height: 100%;
    width: 100%;
}
