@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 700");

html , body {
    height: 100%;
    width: 100%;
    font-family: poppins, sans-serif;
    color: #222;
    background-color:white;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

img{
    position: relative;
    border-radius: 5px;
    background-color: white;
}

.img-fluid{
    width:500px;


    border:.5px solid #1E90FF	;
    height: 350px;


}
p{
    text-emphasis-position: left under;
    shape-outside: circle(50%) border-box;

}

form{
      padding-right: 10px;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

.padding{
    padding-bottom: 2rem;
}

h3{
    text-shadow:#1E90FF ;
}

.box{
    margin: 1px;
    padding: 1rem;
}

.footer{
    background-color: #1E90FF;
}



