@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 700");

html , body {
    height: 100%;
    width: 100%;
    font-family: poppins, sans-serif;
    color: #222;
    background-color:white;

}


.navbar{
    padding: .8rem;
   background-color: #1E90FF;

}
.navbar-nav li{
    height: 75px;
    padding-right:20px ;



}

.nav-link{
    font-size: 1em !important;



}


img {
    height: 150px;
    width: 350px;
    background-color:white;
}


#navbarDropdown{
    opacity: revert;
}

.dropdown-item{
    -webkit-print-color-adjust: economy;
    font-family: poppins, sans-serif;
    background-color: white;

     font-size: 0.9em !important;
}

#navbar-brand h2 {
    color: #1E90FF;
    font-weight: lighter;
    font-size: large;

}