{% extends 'base.html' %}
{% load bootstrap4 %}

  {% block content %}

<div class="container-fluid padding">
<center><h3>Volunteer </h3></center>
          <br class="my-4">
      <div class="row padding">
          <div class="col-md-12 col-lg-6">

               <p>
                  {% for qs in query %}

                   {{ qs.content }}

                     {% endfor %}
              </p>
              <br/>
          </div>

          <div class="col-lg-6">
             <h4>Volunteer Registration Form</h4>
          <p class="lead">On immediate volunteer opportunities, please join our list:</p>
      <form method='POST' action=''>{% csrf_token %}

          {% bootstrap_form form %}
       {% buttons %}
      <input type="submit" class="btn btn-success" value="SEND"/>
          {% endbuttons %}
      </form>
          </div>

      </div>
  </div>


{% endblock %}