{% extends 'base.html' %}
{% load bootstrap4 %}

  {% block content %}
   <div class="container-fluid padding">
      <div class="row padding">
          <div class="col-md-12 col-lg-6">
              <center><h2>Volunteer</h2></center>

              <p>
                  {% for qs in query %}

                   {{ qs.content }}

                     {% endfor %}
              </p>
              <br/>

          </div>

          <div class="col-lg-6">
               <h3>Volunteer Registration Form</h3>
      <form method='POST' action=''>{% csrf_token %}

          {% bootstrap_form form %}
       {% buttons %}
      <input type="submit" class="btn btn-success" value="SEND"/>
          {% endbuttons %}
      </form>
          </div>

      </div>
  </div>

{% endblock %}