



{% load static %}
<!DOCTYPE html>
<div class="container-fluid padding">
<html lang=en >


<head>
<title>{% block head_title %}SAM Women Upliftment Trust{% endblock head_title %}</title>
{% include 'partials/css.html' %}


<link href="{% static 'css/main.css' %}" rel="stylesheet">

{% include 'partials/navbar.html' %}
</head >
</br>

<body >


<div class='container'>
{% block content %}{% endblock content %}
</div>

{% include 'footer.html' %}
{% include 'partials/javascript.html' %}

</body>




</html>
</div>
