{% load static %}

<head>
<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
</head>

<body>
{% block content %}
 <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container padding">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a class="nav-link" href="{% url "profile" %}">About  </a>
              </li>
              <li class="list-inline-item"></li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url "contact" %}"> Contact</a>
              </li>
              <li class="list-inline-item"></li>
              <li class="list-inline-item">
                <a class="nav-link" href="{% url "donate" %}">Donate</a>
              </li>


        <li class="list-inline-item">
         <a class="nav-link" href="{% url "login" %}">Activity</a>
      </li>

            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy;SAM Women Upliftment Trust 2019 . All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0" >
              <li class="list-inline-item mr-3">
                 <a href="#"> <i class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item mr-3">
                 <a href="#"> <i class="fab fa-instagram"></i></a>
              </li>
                <li class="list-inline-item mr-3">
                 <a href="#"> <i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"> <i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

</body>


