
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" >


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #1E90FF!important;
 padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 100px">

    <a class="navbar-brand" href="#" style="padding-bottom: 20px; padding-left: 25px"><h4>SAM Women Upliftment Trust</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="padding-left: 250px">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
          <a class="dropdown-item" href="{% url "history" %}">History</a>
        </div>
      </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url "women-dev" %}">Women Development</a>
              <a class="dropdown-item" href="{% url "urban-dev" %}">Urban Development</a>
              <a class="dropdown-item" href="{% url "awareness" %}">Awareness Sessions</a>
              <a class="dropdown-item" href="{% url "medical" %}">Medical Camp</a>
              <a class="dropdown-item" href="{% url "vocational" %}">Vocational Training</a>
        </div>
      </li>


       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Gallery
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url "image" %}">Images</a>
          <a class="dropdown-item" href="{% url "video" %}">Videos</a>
        </div>
      </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Donate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "volunteer" %}">Volunteer</a>
          <a class="dropdown-item" href="{% url "donate" %}">Donate</a>

        </div>
      </li>



      <li class="nav-item ">
        <a class="nav-link" href="{% url "contact" %}">Contact Us</a>
      </li>



    </ul>
   </div>

</nav>





