{% extends 'base.html' %}

{% block head_title %}Organization-history| {{ block.super}}{% endblock head_title %}

{% block content %}

<div class="container  padding">
 <center><h3 class="lead">Organization History</h3></center> <hr/>
      <div class="row padding">
          <div class="col-md-12 col-lg-6">


              <p class="lead">
                  {% for qs in query %}

                   {{ qs.content }}

                     {% endfor %}
              </p>
           <br/>

          </div>

          <div class="col-lg-6">
               {% for qs in query %}
               <img class="img-fluid " src="{{ qs.image.url }}"/>
               {% endfor %}
          </div>


      </div>
  </div>
{% endblock content %}
